body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
h1 {
    font-size: 3.33rem;
    text-transform: uppercase;
    font-weight: lighter;
}
h2 {
    font-size: 2.47rem;
    text-transform: uppercase;
    color: #3d6cb0;
    margin-top: 50px;
    margin-bottom: 25px;
    height: 4.4vw;
    padding-top: 0.6vw;
    padding-left: 7vw;
    background-size: 5vw 5vw;
    background-position-y: center;
    background-repeat: no-repeat;
}
h3 {
    font-size: 1.51rem;
    text-transform: uppercase;
}
.left {
    width: 35vw;
    float: left;
    margin-left: 5vw;
    margin-top: 5vw;
}
.right {
    width: 50vw;
    float: right;
    margin-right: 5vw;
    margin-top: 5vw;
}

#first {
    text-align: center;
}
#first .bigcircle {
    width: 19vw;
    height: 19vw;
    background-color: #fff;
    border-width: 1px;
    border-color: #3d6cb0;
    border-style: solid;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-left: 8vw;
}
#first .smallcircle {
    width: 16vw;
    height: 16vw;
    background-color: #3d6cb0;
    border-radius: 50%;
    margin: auto;
    margin-top: 1.5vw;
}
#first h1 span {
    font-weight: bold;
    font-size: 4rem;
}
#first h3 {
    margin-top: 10px;
}

#two {
    margin-top: 80px;
}
#two h2 {
    background-image: url(../images/two.png);
}
#two div {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 15px;
    text-align: justify;
}
#two div span {
    font-weight: bold;
}

#three h2 {
    background-image: url(../images/three.png);
}
#three .left_three {
    float: left;
    line-height: 30px;    
    width: 10vw;
    margin-left: 0;
    line-height: 2rem;
    margin-bottom: 50px;
    color: #3d6cb0;
}
#three .right_three {
    float: left;
    width: 15vw;
    margin-left: 5vw;
    line-height: 2rem;
    margin-bottom: 50px;
}

#four {
    clear: both;
}
#four h3 {
    font-weight: normal;
}
#four .pocentru {
    text-align: center;
}
#four h2 {
    background-image: url(../images/four.png);
}
#four img {
    width: 30vw;
    padding: 20px 0;
}

#five h2 {
    margin-top: 0;
    background-image: url(../images/five.png);
}
#five .do, #six .do {
    background-image: url(../images/spisok.png);
    background-repeat: no-repeat;
    background-size: 1.15rem;
    padding-left: 2rem;
    background-position-y: 0.05rem;
}
#five h3 {
    color: #3d6cb0;
}
#five .do1, #six .do1 {
    text-transform: none;  
    color: black;
    font-weight: normal; 
}
#five .do3, #six .do3 {
    color: black;
    font-weight: normal;
    margin-top: 6px;
}
#five .do2, #six .do2 {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 16px 0;
}

#six h2 {
    background-image: url(../images/six.png);
}
#six h3 {
    color: black;
}

#seven h2 {
    background-image: url(../images/seven.png);
}
#seven h3 {
    font-weight: normal;
}
#seven .left_seven {
    float: left;
    line-height: 2rem;    
    width: 22vw;
}
#seven .right_seven {
    float: right;
    width: 22vw;
    line-height: 2rem;
}
#seven img {
    width: 22vw;
    padding: 20px 0;
}